@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: auto;
  background-color: #ffcdd2;
  font-size: 1.3em;
}

section {
  padding: 1em .5em;
}

section:nth-child(odd) {
  background-color: #ffcdd2;
  color: #000;
}

section:nth-child(even) {  
  background-color: #f8bbd0;
  color: #fff;
}

h1 {
  font-size: 2em;
}

p {
  line-height: 2em;
}

a {
  display: inline;
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: auto;
}

.gap {
  grid-gap: 10px;
}

.row {
  grid-column: span 4;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.corner-svg {
  position: relative;
  left: 230px;
  bottom: 15px;
}

.btn {
  padding: 1em;
  grid-column: span 2;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  white-space: normal;
}

.start {
  width: 100%;
}

.modal {
  top: 17vh;
  right: 0;
  position: absolute;
  background: green;
  width: 100%;
  display: block;
  animation: displayModal .3s;
}

.hide-modal {
  display: none;
  animation: hideModal 1s;
}

@keyframes displayModal {
  from {
    transform: scale(0);
  } to {
    transform: scale(1);
  }
}

@keyframes hideModal {
  from {
    transform: scale(1);
  } to {
    transform: scale(0);
  }
}

footer {
  border-top: 1px solid;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: auto;
  padding: 1em;
  width: 100%;
  background: #f0f0f0;
  color: #333;
}

footer svg {
  color: #333;
}

.connect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: span 1;
}

.connect a {
  text-decoration: none;
  line-height: 0;
}

.footer-text {
  font-size: .7em;
  
}

@media only screen and (max-width: 720px) {
  footer {
    padding: 0.5em 0;
    grid-template-rows: 1fr 1fr;
  }

  .connect {
    grid-column: span 2;
  }

  .footer-text {
    text-align: center;
   /* thanks iphone x... */
   font-size: .7em; 
   grid-column: span 2;
  }
}

