@media only screen and (max-width: 412px) {
  .container{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
    text-shadow: 2px 1px #f8bbd0;
    color: white;
    background-color: #ffcdd2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 5px;
    text-align: center;
    box-shadow: 5px 5px #ffcdd2;
  }
  #question{
    padding: 10%;
  }
  .container>div{
    background-color: #f48fb1;
  }
  .item1{
    grid-column: 1 / -1;
    padding: 5%;
  }
  .answer{
    padding: 10%;
  }
  #connect{
    align: center;
    text-shadow: 2px 1px #eceff1;
    padding: 15%;
  }
  .networking{
    max-width: 60px;
    height: 60px;
  }
  .networking:hover{
    opacity: .5;
  }


}
